<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="robot_model" default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"/>
  <arg name="tree_urdf_filename" default="tree_with_branches.urdf"/>

  

  <!-- robot description to load in rviz or gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_model) use_nominal_extrinsics:=true add_plug:=true use_mesh:=true" />
  <!-- tree description to load in rviz or gazebo -->
  <param name="tree_description" command="cat $(find gmlaas)/urdf/$(arg tree_urdf_filename)"/>

  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find gmlaas)/gazebo/worlds/gmlaas.world"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model"
        args="-z 2.5 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <!-- push tree_description to factory and spawn tree model in gazebo -->
  <node name="urdf_spawner_tree" pkg="gazebo_ros" type="spawn_model"
        args="-x 2.686933 -y -0.254398 -z 1.685180 -Y -1.546215 -unpause -urdf -model target_tree -param tree_description" respawn="false" output="screen" />
</launch>
